doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/scripts/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/scripts/bootstrap/dist/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/scripts/font-awesome/css/font-awesome.min.css')
    body
        block content
        script(src='/scripts/jquery/dist/jquery.min.js')
        script(src='/scripts/bootstrap/dist/js/bootstrap.min.js')
