extends layout

block content
    div(class="container")
        div(class="row")
            div(class="parallax-window", data-parallax="scroll", data-image-src="/img/misty-mountain-forest-medium.png", data-natural-width="1400" data-natural-height="900")
