doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
        link(rel='stylesheet', href='/css/_main.css')
        link(href="/scripts/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", type="text/css")
        link(href="/scripts/bootstrap/dist/css/bootstrap-theme.min.css", rel="stylesheet", type="text/css")
        link(href="/scripts/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    body
        nav(class="navbar navbar-inverse navbar-fixed-top")
            div(class="container")
                div(class="navbar-header")
                    button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                        span(class="sr-only">Toggle navigation)
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand" href="/") #{title}
                div(id="navbar", class="navbar-collapse collapse")
                    ul(class="nav navbar-nav")
                        li(class="active")
                            a(href="#") Home
                        li
                            a(href="#about") About
                        li
                            a(href="#contact") Contact
                        li(class="dropdown")
                            a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Dropdown
                                span(class="caret")
                            ul(class="dropdown-menu")
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Another action
                                li
                                    a(href="#") Something else here
                                li(role="separator" class="divider")
                                li(class="dropdown-header") Nav header
                                li
                                    a(href="#") Separated link
                                li
                                    a(href="#") One more separated link

        block content

        div(class="container")
            footer
                p &copy; 2016 Company, Inc.

        script(type="text/javascript", src="/scripts/jquery/dist/jquery.min.js")
        script(type="text/javascript", src="/scripts/bootstrap/dist/js/bootstrap.min.js")
        script(type="text/javascript", src="/js/ie10-viewport-bug-workaround.js")
        script(type="text/javascript", src="/js/parallax.min.js")
